@import "./bootstrap/variables.scss";
@import "./bootstrap/mixins";
@import "./bootstrap/normalize";
@import "./bootstrap/print";

@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

body{
    background-color:#fff;
    font-size:14px;
    color:#000;
}

html{
    overflow-y: scroll;
}

html,
body{
    height:100%;
    font-family:"Helvetica Neue",Helvetica,Arial , "Microsoft YaHei",sans-serif;
}

#root{
    height:100%;
    .root-inner{
        height:100%;
    }
}

.header-container{
    width:100%;
    height:60px;
    >.header-inner{
        position: fixed;
        top:0;
        left:0;
        right:0;
        height:60px;
        background-color: rgba(255,255,255,.9);
        z-index:999;
        border-bottom:1px solid #f2f2f2;
    }
    .blog-name{
        float:left;
        padding: 20px;
        line-height: 20px;
        font-size:14px;
        color:rgb(64, 64, 64);
        letter-spacing:1px;
        font-weight:800;
    }
    .nav-wrapper{
        float:right;
        margin-right:20px;
        ul{
            font-size:0;
        }
        li{
            display:inline-block;    
            cursor: pointer;
            margin-left:10px;
            padding:20px;
            transition:background-color 0.5s;
            &:hover{
                background-color:rgba(0,0,0,0.1);
            }
            a{
                display: block;
                line-height:20px;
                color:rgb(64, 64, 64);
                font-size:14px;
                font-weight:800;
                background-color:rgba(0,0,0,0);

            }
        }
    }
}

.main{
   min-height: calc(100% - 100px);
}

.page_footer{   
    height:40px;
    line-height:40px;
    background-color:#fff;
    color:#333;
    text-align:center;
    .copyright{
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}

.center-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:1;
    text-align: center;
    &:after{
        display: inline-block;
        height:100%;
        width:1px;
        margin-left:-1px;
        content:"";
        vertical-align: middle;
    }
    .center-inner{
        display: inline-block;
        vertical-align: middle;
    }
}

.word-mid{
    vertical-align:middle;
}

.form-wrapper{
    width:440px;
    text-align: left;
}

.dialog-wrapper{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    font-size:0;
    z-index:999;
    text-align:center;
    background-color:rgba(0,0,0,0.2);
    &:after{
        display: inline-block;
        height:100%;
        width:1px;
        margin-left:-1px;
        content:"";
        vertical-align: middle;
    }
    .dialog{
        display: inline-block;
        vertical-align: middle;
        font-size:14px;
        color:#333;
        padding:20px;
        box-sizing:border-box;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
}

@import "post.scss";
@import "icon.scss";
@import "editor.scss";