@import "_reset";
body{
    background-color:#fff;
    font-size:14px;
    color:#000;
}
.page_footer{
    padding:40px 0;
    background-color:#fff;
    color:#333;
    text-align:center;
}